@font-face {
    font-family: Ghotam;
    src: url(../../Fonts/gotham/GothamMedium_1.ttf);
}
/* EDIT BOOTSTRAP CLASS'S */

.nav-link{
    color: rgb(174, 174, 174);
}

.link-selected{
    border-bottom: solid #1db954 3px;
    color: white;
}

.nav-link:hover{
    color: rgb(233, 233, 233);
}

/* CODES */
body{
    font-family: Ghotam;
    background: rgb(0,0,0);
    overflow: hidden;
}

#feed{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#logo{
    width: 40px;
    height: 40px;
}

.images img{
    width: 100%;
    height: 100%;
}

#musicPlayer{
    height: 100px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: rgb(61, 61, 61);
}

.iconsPlay{
    width: 50px;
    height: 100%;
}


/* WEBKITS */
::-webkit-scrollbar{
    width: 0%;
}

#feed::-webkit-scrollbar{
    display: none;
}

.form-control::placeholder{
    color: rgb(174, 174, 174);
}

.form-control:focus{
    border: none;
    box-shadow: none;
}




